.tablero{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
}
.informacion-juego{
    display: flex;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
  }